<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
    <style type="text/css">
    .btnDiv {
        text-align: center;
    }
    
    .resultDiv {
        margin-top: 20px;
        background-color: white;
    }
    </style>
</head>

<body ng-app="app" ng-controller="MainCtrl" class="container">
    <div>
        <div style="margin:20px;color:red;">
            <h3>IMPORTANT: all data should be strictly in the form of $x.yz; <br>
            2 decimal digits (even 0) cannot be ignored!</h3>
        </div>
        <form class="form" style="margin-left: 20px; margin-top:20px">
            <label>Target Value</label>
            <input ng-model="srcTarget" placeholder="eg $5.00">
        </form>
        <div class="divider" style="margin-left:20px; border:1px solid grey; height:2px;"></div>
        <div style="margin-left:20px;color:green;">Source Data</div>
        <textarea style="margin-left:20px;width:100%;height:400px;" ng-model="srcData" placeholder="eg $x.yz in multiple lines"></textarea>
        <div class="btnDiv">
            <button class="btn btn-primary" ng-click="submit()">submit</button>
        </div>
    </div>
    <div class="resultDiv">
        <span style="color:blue;margin-left:20px;">RESULT</span>
        <table class="table">
            <tr ng-repeat="r in results">
                <td>{{r}}</td>
            </tr>
        </table>
    </div>
    <div style="margin-left:20px;color:red;" ng-if="results.length===0">NO results found!</div>
    <script type="text/javascript">
    angular.module('app', [])
        .controller('MainCtrl', function($scope) {
            // $scope.results = [];
            $scope.submit = function() {
                $scope.results = [];
                $scope.DATA = convert($scope.srcData);
                $scope.TARGET_SUM = parseInt($scope.srcTarget.replace(/[\$\.,]/g, ''));
                // $scope.TARGET_SUM = 277200 + 2089975;
                solve($scope);
            }

        });

    function convert(srcData) {
        var dataStr = srcData.replace(/[\$\.,]/g, '').split('\n');
        var result = [];
        dataStr.forEach(function(v) {
            result.push(parseInt(v));
        });
        result.sort(function(a, b) {
            return a - b;
        });
        return result;
    }


    function solve($scope) {
        var DATA = $scope.DATA,
            TARGET_SUM = $scope.TARGET_SUM;
        console.log(DATA, TARGET_SUM);

        var stack = [];
        var sumInStack = 0;

        populateSubset($scope, DATA, 0, DATA.length);


        function populateSubset($scope, data, fromIndex, endIndex) {
            if (sumInStack === TARGET_SUM) {
                print($scope, stack);
            }

            for (var currentIndex = fromIndex; currentIndex < endIndex; currentIndex++) {

                if (sumInStack + data[currentIndex] <= TARGET_SUM) {
                    stack.push(data[currentIndex]);
                    sumInStack += data[currentIndex];
                    populateSubset($scope, data, currentIndex + 1, endIndex);
                    sumInStack -= stack.pop();
                }
            }
        }


        function print($scope, stack) {
            var s = '';
            s = '$' + (TARGET_SUM / 100).toFixed(2) + " = ";
            console.log(stack);
            stack.forEach(function(v) {
                s += ('$' + (v / 100).toFixed(2) + " + ");
            });
            s = s.trim();
            console.log(s.slice(0, s.length - 1));
            //document.write('<div>' + s.slice(0, s.length - 1) + '</div>');
            //document.write('<div>' + s.slice(0, s.length - 1) + '</div>');
            $scope.results.push(s.slice(0, s.length - 1));
        }
    }
    </script>
</body>

</html>
